/.DS_Store
/.dart_tool
/.flutter-plugins
/.flutter-plugins-dependencies
/.git
/.gitignore
/.idea
/.metadata
/.packages
/README.md
/android
/assets
/build
/client
/ios
/lib
/pubspec.lock
/pubspec.yaml
/rocket.iml
/test